
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Data Transfer from Home Controller's View to Other Controller's View</h1>
<p>Temp Data is : @TempData["msg3"]</p>
<p>Session Data is: @Session["msg4"]</p>