
@{
    ViewBag.Title = "Trans_data";
}

<h2>Trans_data</h2>

<h3>ViewData is: @ViewData["msg1"]</h3>
<h3>ViewBag is: @ViewBag.msg2</h3>
<h3>TempData is: @TempData["msg3"]</h3>
<h3>Session is: @Session["msg4"]</h3>

